# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8mb4
default-authentication-plugin=mysql_native_password

# character_set_server = utf8mb4
# lower_case_table_names = 1
# myisam_recover_options = FORCE,BACKUP
# max_allowed_packet = 16M
# max_connect_errors = 1000000
# sync_binlog = 1
# log_bin
# binlog_format = ROW
# skip-name-resolve
# ######## M2M replication master server
# server_id = 1
# auto_increment_offset = 1
# auto_increment_increment = 2
# read_only = 0
# # binlog_do_db = product_db
# binlog_ignore_db = mysql
# binlog_ignore_db = test
# binlog_ignore_db = information_schema
# replicate_ignore_db = mysql
# replicate_ignore_db = test
# replicate_ignore_db = information_schema
# replicate_ignore_db = easyschedule
# replicate_wild_ignore_table = easyschedule.%
# log-slave-updates